<template name="provaFotos">
  <div class="hamburguesaCreada">
    <div class="paSuperior"><img src="/assets/img/paSuperior.png" alt=""></div>
    <div class="producte1"><img src="/assets/img/enciam.png" alt=""></div>
    <div class="producte2"><img src="/assets/img/formatge.png" alt=""></div>
    <div class="producte3"><img src="/assets/img/ceba.png" alt=""></div>
    <div class="producte4"><img src="/assets/img/tomaquet.png" alt=""></div>
    <div class="producte5"><img src="/assets/img/hamburguesa.png" alt=""></div>
    <div class="paInferior"><img src="/assets/img/paInferior.png" alt=""></div>
  </div>
</template> 
